@font-face {
    font-family: 'Minima';
    src: url('fonts/MinimaExpanded.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Minima', sans-serif;
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    background-color: beige;
}

.closedScreen {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s ease;
}

.closedScreen.inactive {
    opacity: 0;
    pointer-events: none;
}

.closedScreen.active {
    opacity: 1;
    pointer-events: all;
}

.openText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.openArrow {
    animation: floatUpDown 1.5s ease-in-out infinite;
}

@keyframes floatUpDown {
    0% { transform: translateY(0);}
    50% { transform: translateY(-10px);}
    100% { transform: translateY(0);}
}

.boxButton {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.boxButton img {
    width: 150px;
    height: auto;
}



.openedScreen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.openedScreen.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 1s ease;
}

.boxButtonOpen {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.boxButtonOpen img {
    width: 150px;
    height: auto;
}